<div style="color: white;position:fixed;top: 43px;right: 24px;">
  <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
    <mat-icon>settings</mat-icon>
  </button>

  <mat-menu #settingsMenu="matMenu">
    <button mat-menu-item routerLink="instellingen">
        <mat-icon>settings_applications</mat-icon>
        <span>Instellingen</span>
    </button>
    <button mat-menu-item (click)="signOut()">
        <mat-icon>vpn_key</mat-icon>
        <span>Uitloggen</span>
    </button>
  </mat-menu>
</div>

<mat-card routerLink="/todo" class="card-button" matRipple>
  <mat-card-content class="dashboard-card-content">
    <button mat-button style="width:100%;text-align:left;font-size:20px;">
      <mat-icon>list</mat-icon>
      To do
    </button>
    <mat-list>
        <mat-list-item>Deze functie is nog niet beschikbaar, {{this.authService.user?.givenName}}.</mat-list-item>
    </mat-list>
  </mat-card-content>
  <div class="right-icon"><mat-icon>navigate_next</mat-icon></div>
</mat-card>
<br>
<mat-card routerLink="/team" class="card-button" matRipple >
  <mat-card-content class="dashboard-card-content">
    <button mat-button style="width:100%;text-align:left;font-size:20px;">
      <mat-icon>people</mat-icon>
      Teams
    </button>
    <mat-list>
      <mat-list-item *ngFor="let team of teams | slice:0:2;">{{team.naam}}</mat-list-item>
      <mat-list-item>Bekijk meer...</mat-list-item>
    </mat-list>
  </mat-card-content>
  <div class="right-icon"><mat-icon>navigate_next</mat-icon></div>
</mat-card>
<br>
<mat-card class="card-button" *ngIf="this.authService.dbUser?.rol >= 3" matRipple style="margin-bottom:19px" (click)="openDashboard()" [@grow]>
  <mat-card-content class="dashboard-card-content">
    <button mat-button style="width:100%;text-align:left;">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </button>
    <mat-list>
      <mat-list-item>Bekijk de overkoepelende resultaten.</mat-list-item>
    </mat-list>
  </mat-card-content>
  <div class="right-icon"><mat-icon>navigate_next</mat-icon></div>
</mat-card>

