<mat-card routerLink="/todo" class="card-button" matRipple>
  <mat-card-content class="dashboard-card-content">
    <button mat-button style="width:100%;text-align:left;font-size:20px;">
      <mat-icon>list</mat-icon>
      To do
    </button>
    <mat-list>
        <mat-list-item>Deze functie is nog niet beschikbaar.</mat-list-item>
    </mat-list>
  </mat-card-content>
  <div class="right-icon"><mat-icon>navigate_next</mat-icon></div>
</mat-card>
<br>
<mat-card routerLink="/team" class="card-button" matRipple >
  <mat-card-content class="dashboard-card-content">
    <button mat-button style="width:100%;text-align:left;font-size:20px;">
      <mat-icon>people</mat-icon>
      Teams
    </button>
    <mat-list>
      <mat-list-item *ngFor="let team of teams | slice:0:2;">{{team.naam}}</mat-list-item>
      <mat-list-item>Bekijk meer...</mat-list-item>
    </mat-list>
  </mat-card-content>
  <div class="right-icon"><mat-icon>navigate_next</mat-icon></div>
</mat-card>
<br>
<mat-card (click)="signOut()">
  <mat-card-content class="dashboard-card-content">
    <button mat-button  style="width:100%;text-align:left" *ngIf="this.authService.user !== null">
      <mat-icon>vpn_key</mat-icon>
      Log uit (ingelogd als {{this.authService.user.givenName}})
    </button>
  </mat-card-content>
</mat-card>

