<mat-card routerLink="/todo">
  <mat-card-content class="dashboard-card-content">
    <button mat-button style="width:100%;text-align:left;font-size:20px;">
      <mat-icon>list</mat-icon>
      To do
    </button>
    <mat-list>
        <mat-list-item>Je hebt geen taken meer te doen!</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<br>
<mat-card routerLink="/team" >
  <mat-card-content class="dashboard-card-content">
    <button mat-button style="width:100%;text-align:left;font-size:20px;">
      <mat-icon>people</mat-icon>
      Teams
    </button>
    <mat-list>
      <mat-list-item>Team HBO-ICT</mat-list-item>
      <mat-list-item>Team Facilitair</mat-list-item>
      <mat-list-item>...</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<br>
<mat-card (click)="signOut()">
  <mat-card-content class="dashboard-card-content">
    <button mat-button  style="width:100%;text-align:left" *ngIf="this.authService.user !== null">
      <mat-icon>vpn_key</mat-icon>
      Log uit (ingelogd als {{this.authService.user.givenName}})
    </button>
  </mat-card-content>
</mat-card>

