.phaseContainer {
    width:100%
}

.phaseContainer p {
    margin-top:0px;
    margin-bottom:16px;
    font-size:14px;
}

.phaseBarChart {
    text-align:center;font-size:16px;line-height:1.2;height:auto;
    margin-bottom:4px;
    color:black;
    border-radius:2px;
    overflow:hidden;
}

.phaseBarChart div {
    height:100%;
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.phaseBarChart.colors div {
    color:white;
    box-shadow: inset -6px 0px 6px -4px rgba(0, 0, 0, 0.45);
    text-shadow: -1px -1px 3px #000, 1px 1px 3px #000;
}

.phaseBarChart.colors div:nth-child(1) {
    background:#1686bb;
}
.phaseBarChart.colors div:nth-child(2) {
    background:#7d5a9c;
}
.phaseBarChart.colors div:nth-child(3) {
    background:#b79b4d;
}
.phaseBarChart.colors div:nth-child(4) {
    background:#24b5a1;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

.nowrap-list .mat-list-item {
    height:initial;
    padding:10px 0;
}
.nowrap-list .mat-list-item .mat-line {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.phase1 {
    background:#1686bb;
}

.phase2 {
    background:#7d5a9c;
}
.phase3 {
    background:#b79b4d;
}
.phase4 {
    background:#24b5a1;
}