.phaseContainer {
    width:100%
}

.phaseContainer p {
    margin-top:0px;
    margin-bottom:16px;
    font-size:14px;
}

.phaseBarChart {
    text-align:center;font-size:16px;line-height:1.2;height:auto;
    margin-bottom:4px;
    color:white;
    border-radius:2px;
    overflow:hidden;
}

.phaseBarChart div {
    height:100%;
    display:inline-block;
    background:#1686bb;
    box-shadow: inset -6px 0px 6px -4px rgba(0, 0, 0, 0.45);
    text-shadow: -1px -1px 3px #000, 1px 1px 3px #000;
}

.phaseBarChart div:nth-child(2) {
    background:#7d5a9c;
}
.phaseBarChart div:nth-child(3) {
    background:#b79b4d;
}
.phaseBarChart div:nth-child(4) {
    background:#24b5a1;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }