.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 0;
    padding: 0 40px 0px 40px;
    height:120px;
    color:#FFFFFF;
  }

  .wrapper {
    margin-top: -40px;
  }