.grid-container {
  margin: 20px;
}

.dashboard-card {
  margin:15px;
}
mat-grid-list .dashboard-card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}