<mat-card>
  <mat-card-header>
      <mat-card-title>
          Maak een nieuw team
      </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="createTeamForm" (ngSubmit)="onSubmit(createTeamForm.value)">
      <label>
        Team naam:
      </label>
      <input type="text" placeholder="Haagse Hogeschool" formControlName="naam">
      <label>
        Beschrijving:
      </label>
      <input type="text" formControlName="beschrijving">
      <label>
        Voeg leden toe aan dit team:
      </label>
      <mat-chip-list #chipList formArrayName="emails" formControlName="emails">
        <input placeholder="123456@hhs.nl (minimaal 2)" [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event, createTeamForm)">
        <mat-chip *ngFor="let email of createTeamForm.get('emails').controls; let i=index;"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(createTeamForm, i)">
            {{email.value}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <button type="submit" [disabled]="createTeamForm.invalid">
        Maak nieuw team
      </button>
    </form>
  </mat-card-content>
</mat-card>