<mat-card>
  <mat-card-header>
      <mat-card-title>
          Maak een nieuw team
      </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="createTeamForm" (ngSubmit)="onSubmit(createTeamForm.value)">
      <mat-form-field>
      <input matInput type="text" placeholder="Teamnaam:" formControlName="naam">
      </mat-form-field>
      <mat-form-field>
      <input matInput type="text" placeholder="Beschrijving:" formControlName="beschrijving">
      </mat-form-field>
      <mat-form-field>
      <input matInput type="text" placeholder="Teamleider: (123456@hhs.nl)" formControlName="teamleider">
      </mat-form-field>
      <mat-form-field>
        <mat-chip-list #chipList formArrayName="emails" formControlName="emails">
          <input placeholder="Voeg leden toe aan dit team: (minimaal 2)" [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event, createTeamForm)">
          <mat-chip *ngFor="let email of createTeamForm.get('emails').controls; let i=index;"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(createTeamForm, i)">
            {{email.value}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-form-field>
      <button type="submit" [disabled]="createTeamForm.invalid">
        Maak nieuw team
      </button>
    </form>
  </mat-card-content>
</mat-card>