<div class="grid">
    <ng-container *ngIf="teamscandata.status === 'invullen'">
        <mat-card class="" style="width:100%">
            <mat-card-title>
            Er staan vragen voor je klaar
            </mat-card-title>
        <mat-card-content class="">
            <div>Van: {{teamscandata.start}} - Tot en met: {{teamscandata.eind}}</div><br>
            <button mat-stroked-button routerLink="invullen">Beantwoord de vragen</button>
            <br>
            <br>
            <button mat-stroked-button (click)="closeTeamscan(teamscandata.id)" >Teamscan sluiten</button>
        </mat-card-content>
        </mat-card>
    </ng-container>

    <ng-container *ngIf="teamscandata.status === 'scoren'">
            <mat-card class="" style="width:100%">
                <mat-card-title>
                Openvragen scoren
                </mat-card-title>
            <mat-card-content class="">
                <div>U kunt de antwoorden op de openvragen scoren</div><br>
                <button mat-stroked-button routerLink="invullen">Scoor de openvragen</button>
            </mat-card-content>
            </mat-card>
    </ng-container>

    <ng-container *ngIf="teamscandata.status === 'gesloten'">
        <mat-card class=""  style="width:100%">
            <mat-card-title>
            Resultaten
            </mat-card-title>
        <mat-card-content class="">
            <div>Er zijn nog geen resultaten.</div><br>
            <button mat-stroked-button routerLink="resultaten">Laat resultaten zien</button>
        </mat-card-content>
        </mat-card>
    </ng-container>

    <ng-container *ngIf="teamscandata.status === 'gesloten'">
        <mat-card class=""  style="width:100%">
            <mat-card-title>
            Teamscan aanmaken
            </mat-card-title>
        <mat-card-content class="">
            <div>Maak een nieuwe teamscan aan voor dit team</div><br>
            <button mat-stroked-button routerLink="aanmaken">Aanmaken</button>
        </mat-card-content>
        </mat-card>
    </ng-container>

</div>
<br>
<mat-card>
    <mat-card-header>
        <mat-card-title>
        Teamleden
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list *ngIf="teamdata">
            <ng-container *ngFor="let lid of teamdata; last as isLast; first as isFirst">
                <mat-list-item *ngIf="isFirst"><mat-icon mat-list-icon>supervised_user_circle</mat-icon> <h4 mat-line><b>Teamleider:</b> {{lid.leider_naam}}</h4><p mat-line> {{lid.leider_mail}} </p></mat-list-item>
                <mat-divider *ngIf="isFirst"></mat-divider>
                <mat-list-item *ngIf="lid.givenName"><mat-icon mat-list-icon>people</mat-icon> <h4 mat-line>{{lid.givenName}} {{lid.surname}}</h4><p mat-line> {{lid.email}} </p></mat-list-item>
                <mat-list-item *ngIf="!lid.givenName" style="color:#777"><mat-icon mat-list-icon>people</mat-icon> <h4 mat-line>{{lid.email}}</h4><p mat-line> Nog niet geregistreerd. </p></mat-list-item>
                <mat-divider *ngIf="!isLast" inset="true"></mat-divider>
            </ng-container>
        </mat-list>
        <mat-spinner style="margin:20px auto;" diameter="50" color="black" *ngIf="teamdata.length == 0 && !requestFailed"></mat-spinner>
        <div *ngIf="requestFailed" style="text-align:center; margin-top:20px;">
            Er kon geen verbinding worden gemaakt.<br><br>
            <button mat-raised-button style="margin:auto;" (click)="reload()">Probeer opnieuw</button>
        </div>
    </mat-card-content>
</mat-card>