<div class="grid">
    <mat-card class="" style="width:100%">
        <mat-card-title>
        Invullen
        </mat-card-title>
    <mat-card-content class="">
        <div>Er staan vragen voor je klaar.</div><br>
        <button mat-stroked-button routerLink="invullen">Beantwoord de vragen</button>
    </mat-card-content>
    </mat-card>
    <mat-card class=""  style="width:100%">
        <mat-card-title>
        Resultaten
        </mat-card-title>
    <mat-card-content class="">
        <div>Er zijn nog geen resultaten.</div><br>
        <button mat-stroked-button routerLink="resultaten">Laat resultaten zien</button>
    </mat-card-content>
    </mat-card>
</div>
<br>
<mat-card>
    <mat-card-header>
        <mat-card-title>
        Teamleden
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item><mat-icon mat-list-icon>people</mat-icon> <h4 mat-line>M.G. Maris</h4><p mat-line> m.g.maris@hhs.nl </p></mat-list-item>
            <mat-divider inset="true"></mat-divider>
            <mat-list-item><mat-icon mat-list-icon>people</mat-icon> <h4 mat-line>S. Kleiss</h4><p mat-line> sebastiaan@kleiss.biz </p></mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>