<div class="" style="color: white;position:fixed;top: 10px;right: 24px;">
    <button mat-stroked-button *ngIf="teamdata.teamscan" [matMenuTriggerFor]="changeteamscan" (click)="openteamscanmenu()" style="margin-top: -5px;line-height: 25px;border-color:white">
            {{teamdata.teamscan?.naam}}
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>

    <mat-menu #changeteamscan="matMenu">
        <div style="min-width:250px;">
            <mat-spinner style="margin:10px auto;" diameter="30" *ngIf="!teamscans"></mat-spinner>
        </div>
        <button mat-menu-item *ngFor="let scan of teamscans" [routerLink]="'/team/'+id+'/'+scan.id">
                <mat-icon mat-list-icon>assessment</mat-icon>
                <span>{{scan.naam}} ({{scan.status=='gesloten'?"gesloten op": "sluit"}} {{scan.eindOpenVraag|date:'d/M'}})</span>
            </button>
    </mat-menu>
</div>
<mat-expansion-panel *ngIf="teamdata.team?.beheerder" style="margin-bottom:19px">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h6 style="margin:0">Beheerderdersmenu</h6>
        </mat-panel-title>
    </mat-expansion-panel-header>

    <button mat-stroked-button style="margin-right:4px" [matMenuTriggerFor]="choosestatus" *ngIf="teamdata.teamscan">Status: {{teamdata.teamscan?.status}} <mat-icon>keyboard_arrow_down</mat-icon></button>
    <button mat-stroked-button [routerLink]="'/team/'+id+'/aanmaken'" style="margin-right:4px"><mat-icon>add</mat-icon>Teamscan</button>
    <button mat-stroked-button [matMenuTriggerFor]="addmember" #addMemberMenuTrigger="matMenuTrigger">
        <mat-icon>add</mat-icon>
        Teamlid
    </button>

    <mat-menu #addmember="matMenu">
        <form (click)="$event.stopPropagation();" style="margin:5px 20px" [formGroup]="addmemberform" (ngSubmit)="onSubmitMember(addmemberform.value, addMemberMenuTrigger)">
            <mat-form-field>
                <input matInput placeholder="E-mailadres" formControlName="email">
            </mat-form-field>
            <button mat-stroked-button type="submit">
                <span>Toevoegen</span>
            </button>
        </form>
    </mat-menu>
    <mat-menu #choosestatus="matMenu">
        <button mat-menu-item (click)="teamscanChangeState(teamdata.teamscan?.id,'invullen')" [disabled]="teamdata.teamscan?.status=='invullen'?'disabled':NULL">1. Invullen</button>
        <button mat-menu-item (click)="teamscanChangeState(teamdata.teamscan?.id,'scoren')" [disabled]="teamdata.teamscan?.status=='scoren'?'disabled':NULL">2. Scoren</button>
        <button mat-menu-item (click)="teamscanChangeState(teamdata.teamscan?.id,'gesloten')" [disabled]="teamdata.teamscan?.status=='gesloten'?'disabled':NULL">3. Sluiten</button>
    </mat-menu>

</mat-expansion-panel>
<div *ngIf="teamdata.team?.teamscan" [@grow] style="margin-bottom:19px;">
    <mat-card class="" style="width:100%" *ngIf="teamdata.teamscan?.status === 'invullen'">
        <mat-card-title>
            {{teamdata.team?.ingevuld ? NULL : 'To do: '}}Invullen
        </mat-card-title>
        <mat-card-content *ngIf="!teamdata.team?.ingevuld && teamdata.team">
            <div>Er staan vragen voor je klaar.</div><br>
            <div>Periode:</div>
            <div>{{moment(teamdata.teamscan?.start).format("DD/MM/YYYY")}} - {{moment(teamdata.teamscan?.eind).format("DD/MM/YYYY")}}</div><br>
            <button mat-stroked-button [routerLink]="'/team/'+id+'/'+teamdata.team?.teamscan+'/invullen'">Beantwoord de vragen</button>
        </mat-card-content>
        <mat-card-content *ngIf="teamdata.team?.ingevuld && teamdata.team">
            <div>Je bent klaar met invullen. Wacht tot de eerstvolgende sluitingsdatum voor het scoren van de verbeterpunten.</div>
        </mat-card-content>
    </mat-card>
    <mat-card class="" style="width:100%" *ngIf="teamdata.teamscan?.status === 'scoren'">
        <mat-card-title>
            {{teamdata.team?.gescoord ? NULL : 'To do: '}}Scoren verbeterpunten
        </mat-card-title>
        <mat-card-content *ngIf="!teamdata.team?.gescoord">
            <div>Geef je mening over de verbeterpunten die je teamleden aandragen.</div><br>
            <button mat-stroked-button [routerLink]="'/team/'+id+'/'+teamdata.team?.teamscan+'/scoren'">Geef je mening</button>
        </mat-card-content>
        <mat-card-content *ngIf="teamdata.team?.gescoord">
            <div>Je hebt de opmerkingen van je teamgenoten gescoord. Wacht tot de eerstvolgende sluitingsdatum voor de resultaten van de teamscan.</div>
        </mat-card-content>
    </mat-card>
    <mat-card class="" style="width:100%" *ngIf="teamdata.teamscan?.status === 'gesloten'">
        <mat-card-title>
            Resultaten
        </mat-card-title>
        <mat-card-content class="">
            <div>Bekijk de resultaten van deze teamscan.</div><br>
            <button mat-stroked-button [routerLink]="'/team/'+id+'/'+teamdata.team?.teamscan+'/resultaten'">Laat resultaten zien</button>
        </mat-card-content>
    </mat-card>
</div>
<mat-card *ngIf="teamdata.teamscan" [@grow] style="margin-bottom:19px;">
    <mat-card-content>
        <div class="customStepper">
            <div [class]="(teamdata.teamscan?.status == 'invullen') ? 'stepChip selected' : 'stepChip'">
                <div class="opener"></div>
                <div class="middle">Invullen</div>
                <div class="closer"></div>
            </div>
            <div [class]="(teamdata.teamscan?.status == 'scoren') ? 'stepChip selected' : 'stepChip'">
                <div class="opener"></div>
                <div class="middle">Scoren</div>
                <div class="closer"></div>
            </div>
            <div [class]="(teamdata.teamscan?.status == 'gesloten') ? 'stepChip selected' : 'stepChip'">
                <div class="opener"></div>
                <div class="middle">Resultaten</div>
                <div class="closer"></div>
            </div>
        </div>
        <div *ngIf="teamdata.teamscan?.status !== 'gesloten'">
            
            <div class="row">
                <div style="width: 50%; float: left; text-align: left; vertical-align: middle;">
                    <i class="material-icons" style="vertical-align:middle;">room</i>
                    <div style="color: #222;background: #eee;display: inline-block;padding: 2px 8px;border-radius: 5px;"><b style="font-weight:500">Start</b> {{startDate|date: 'dd/M'}}</div>
                </div>
                <div style="width: 50%; float: left; text-align: right;">
                    <div style="color: #222;background: #eee;display: inline-block;padding: 2px 8px;border-radius: 5px;"><b style="font-weight:500">Eind</b> {{endDate|date: 'dd/M'}}</div>
                    <i class="material-icons" style="vertical-align:middle;">room</i>
                </div>
            </div>
            <br><br>
            <mat-progress-bar mode="determinate" color="#9ea700" [value]="progressBarValue"></mat-progress-bar>
            <br>
            <div style="text-align:center;" *ngIf="daysUntillStatusEnd >= 0">
                <div style="vertical-align:middle;">
                    <i class="material-icons" style="vertical-align:middle;">schedule</i> Er zijn nog <b style="font-weight:500">{{daysUntillStatusEnd}} dagen</b> {{teamdata.teamscan?.status=="invullen"?" om de teamscan in te vullen":""}} {{teamdata.teamscan?.status=="scoren"?" om de verbeterpunten te scoren":""}}
                </div>
            </div>
            <div style="text-align:center;" *ngIf="daysUntillStatusEnd < 0">
                <div style="vertical-align:middle;"><i class="material-icons" style="vertical-align:middle;">schedule</i>De termijn voor het invullen van de teamscan is ten einde.</div>
            </div>
        </div>
        <div *ngIf="teamdata.teamscan?.status == 'gesloten'">
            <div style="text-align:center;">
                <div style="vertical-align:middle;"><i class="material-icons" style="vertical-align:middle;">schedule</i>De teamscan is gesloten.<br><span [routerLink]="'/team/'+id+'/'+teamdata.team?.teamscan+'/resultaten'">Bekijk de resultaten.</span></div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="!teamdata.teamscan && teamdata.team?.beheerder" [@grow] style="margin-bottom:19px;">
    <mat-card-title>
        To do: Maak een teamscan aan
    </mat-card-title>
    <mat-card-content>
        Je hebt nu een team aangemaakt. Start zo snel mogelijk een teamscan om van start te gaan.<br>
        <button mat-stroked-button [routerLink]="'/team/'+id+'/aanmaken'" style="margin-top:8px"><mat-icon>add</mat-icon>Teamscan</button>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            Teamleden
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list *ngIf="teamdata">
            <ng-container *ngFor="let lid of teamdata.leden; last as isLast; first as isFirst">
                <mat-list-item *ngIf="isFirst">
                    <p mat-line> Aangemaakt door: </p>
                    <mat-icon mat-list-icon>build</mat-icon>
                    <p mat-line style="margin-bottom:20px"> {{lid.leider_mail}} </p>
                </mat-list-item>
                <mat-divider *ngIf="isFirst"></mat-divider>
                <mat-list-item *ngIf="lid.givenName">
                    <mat-icon mat-list-icon [style.color]="(teamdata.teamscan?.status=='invullen' && lid.ingevuld) || (teamdata.teamscan?.status!='ingevuld' && lid.gescoord) ? '#9ea700' : NULL">{{lid.beheerder ? "supervised_user_circle" : "people"}}</mat-icon>
                    <h4 mat-line>{{lid.givenName}} {{lid.surname}}</h4>
                    <p mat-line>{{lid.ingevuld ? "ingevuld - " : ""}}{{lid.gescoord ? "gescoord - " : ""}}{{lid.userPrincipalName}}<span *ngIf="lid.beheerder"> (beheerder)</span></p>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Opties voor teamlid" *ngIf="teamdata.team.beheerder">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </mat-list-item>
                <mat-list-item *ngIf="!lid.givenName" style="color:#777">
                    <mat-icon mat-list-icon>people</mat-icon>
                    <h4 mat-line>{{lid.userPrincipalName}}</h4>
                    <p mat-line> Nog niet geregistreerd. </p>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Opties voor teamlid" *ngIf="teamdata.team.beheerder">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </mat-list-item>
                <mat-divider *ngIf="!isLast" inset="true"></mat-divider>

                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngIf="lid.givenName && lid.beheerder" (click)="updateBeheerder(0,lid.userPrincipalName,lid.mail)">
                      <mat-icon mat-list-icon>people</mat-icon>
                      <span>Verwijderen als beheerder</span>
                    </button>
                    <button mat-menu-item *ngIf="lid.givenName && !lid.beheerder" (click)="updateBeheerder(1,lid.userPrincipalName,lid.mail)">
                      <mat-icon mat-list-icon>supervised_user_circle</mat-icon>
                      <span>Teambeheerder maken</span>
                    </button>
                    <button mat-menu-item (click)="verwijderLid(lid.userPrincipalName,lid.mail)">
                      <mat-icon mat-list-icon>delete</mat-icon>
                      <span>Verwijder lid</span>
                    </button>
                </mat-menu>
            </ng-container>
        </mat-list>
        <mat-spinner style="margin:20px auto;" diameter="50" color="black" *ngIf="teamdata.length == 0 && !requestFailed"></mat-spinner>
        <div *ngIf="requestFailed" style="text-align:center; margin-top:20px;">
            Er kon geen verbinding worden gemaakt.<br><br>
            <button mat-raised-button style="margin:auto;" (click)="reload()">Probeer opnieuw</button>
        </div>
    </mat-card-content>
</mat-card>