
<configuration>
    <system.webServer>
		<staticContent>
		  <remove fileExtension=".json"/>
		  <mimeMap fileExtension=".json" mimeType="application/json"/>
		  <remove fileExtension=".webmanifest"/>
		  <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json"/>
		</staticContent>
        <rewrite>
            <rules>
				<rule name="rule 2p" stopProcessing="true">
					<match url="^"  />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="/index.html"  />
				</rule>
        </rules>
        </rewrite>
    </system.webServer>
</configuration>