<mat-card  *ngIf="teams.length > 0" [@slide]>
    <mat-card-header>
        <mat-card-title>
            Kies een team
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item routerLink="create-team"><mat-icon mat-list-icon>+</mat-icon><h4 mat-line>Maak een nieuw team</h4></mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content>
        <mat-list>
            <ng-container *ngFor="let team of teams; last as isLast; first as isFirst">
                <mat-list-item [routerLink]="team.id"><mat-icon mat-list-icon>people</mat-icon> <h4 mat-line>{{team.naam}}</h4><p mat-line> {{team.beschrijving}} </p></mat-list-item>
                <mat-divider *ngIf="!isLast" [inset]="true"></mat-divider>
            </ng-container>
    </mat-list>
    </mat-card-content>
</mat-card>
<div *ngIf="teams.length == 0 && !requestFailed" style="text-align:center; margin-top:80px;">
    <mat-spinner style="margin:auto;"></mat-spinner>
</div>
<div *ngIf="requestFailed" style="text-align:center; margin-top:80px;">
    Er kon geen verbinding worden gemaakt.<br><br>
    <button mat-raised-button style="margin:auto;" (click)="reload()">Probeer opnieuw</button>
</div>