.dashboard-card {
    position: absolute;
    top: 0px;
    left: 15px;
    right: 15px;
    bottom: 30px;
}
.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}
  
.grid {
    display:grid;
    grid-gap:1em;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr;
    }
}