<mat-card>
    <mat-card-header>
        <mat-card-title>
            Kies een team
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item routerLink="create-team" matRipple><mat-icon mat-list-icon>add</mat-icon><h4 mat-line>Maak een nieuw team</h4></mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content>
        <mat-list *ngIf="teams != null" style="padding-top:0;">
            <ng-container *ngFor="let team of teams; last as isLast; first as isFirst">
                <div class="card-button" matRipple >
                <mat-list-item [routerLink]="team.id">
                    <mat-icon mat-list-icon>people</mat-icon>
                    <h4 mat-line>{{team.naam}}</h4>
                    <p mat-line> {{team.beschrijving}} </p>
                </mat-list-item>
                <div class="right-icon"><mat-icon>navigate_next</mat-icon></div>
                </div>
                <mat-divider *ngIf="!isLast" [inset]="true"></mat-divider>
            </ng-container>
            <mat-list-item *ngIf="teams.length == 0">
                    <p>Je bent nog geen lid van een team.</p>
            </mat-list-item>
        </mat-list>
        <mat-spinner style="margin:20px auto;" diameter="50" color="black" *ngIf="teams == null && !requestFailed"></mat-spinner>
        <div *ngIf="requestFailed" style="text-align:center; margin-top:20px;">
            Er kon geen verbinding worden gemaakt.<br><br>
            <button mat-raised-button style="margin:auto;" (click)="reload()">Probeer opnieuw</button>
        </div>
    </mat-card-content>
</mat-card>

