<mat-card>
    <mat-card-content>
        <mat-vertical-stepper #stepper>
            <mat-step stepControl="firstFormGroup">
                <ng-template matStepLabel>{{titleS1}}</ng-template>
                <mat-radio-group [(ngModel)]="question1">
                    <mat-list>
                        <div *ngFor="let antwoord of antwoordenS1; last as isLast">
                            <mat-list-item>
                                <mat-radio-button mat-list-base [value]="antwoord.fase_id" style="width:100%;">
                                    <p>{{antwoord.antwoord}}</p>
                                </mat-radio-button><button mat-icon-button (click)="tooltip.show()"
                                    [matTooltip]="antwoord.antwoord" matTooltipPosition="left" #tooltip="matTooltip">
                                    <mat-icon>info</mat-icon>
                                </button>
                            </mat-list-item>
                            <mat-divider *ngIf="!isLast" [inset]="true"></mat-divider>
                        </div>
                    </mat-list>
                </mat-radio-group>
                <br>
                <button mat-stroked-button matStepperPrevious>Terug</button>
                <button mat-flat-button color="primary" style="float:right" matStepperNext>Volgende</button>
            </mat-step>
            <mat-step stepControl="firstFormGroup">
                <ng-template matStepLabel>{{titleS2}}</ng-template>
                <mat-radio-group [(ngModel)]="question1">
                    <mat-list>
                        <div *ngFor="let antwoord of antwoordenS2; last as isLast">
                            <mat-list-item>
                                <mat-radio-button mat-list-base [value]="antwoord.fase_id" style="width:100%;">
                                    <p>{{antwoord.antwoord}}</p>
                                </mat-radio-button><button mat-icon-button (click)="tooltip.show()"
                                    [matTooltip]="antwoord.antwoord" matTooltipPosition="left" #tooltip="matTooltip">
                                    <mat-icon>info</mat-icon>
                                </button>
                            </mat-list-item>
                            <mat-divider *ngIf="!isLast" [inset]="true"></mat-divider>
                        </div>
                    </mat-list>
                </mat-radio-group>
                <br>
                <button mat-stroked-button matStepperPrevious>Terug</button>
                <button mat-flat-button color="primary" style="float:right" matStepperNext>Volgende</button>
            </mat-step>
            <mat-step stepControl="firstFormGroup">
                <ng-template matStepLabel>{{titleS3}}</ng-template>
                <mat-radio-group [(ngModel)]="question1">
                    <mat-list>
                        <div *ngFor="let antwoord of antwoordenS3; last as isLast">
                            <mat-list-item>
                                <mat-radio-button mat-list-base [value]="antwoord.fase_id" style="width:100%;">
                                    <p>{{antwoord.antwoord}}</p>
                                </mat-radio-button><button mat-icon-button (click)="tooltip.show()"
                                    [matTooltip]="antwoord.antwoord" matTooltipPosition="left" #tooltip="matTooltip">
                                    <mat-icon>info</mat-icon>
                                </button>
                            </mat-list-item>
                            <mat-divider *ngIf="!isLast" [inset]="true"></mat-divider>
                        </div>
                    </mat-list>
                </mat-radio-group>
                <br>
                <button mat-stroked-button matStepperPrevious>Terug</button>
                <button mat-flat-button color="primary" style="float:right" matStepperNext>Volgende</button>
            </mat-step>
            <mat-step stepControl="firstFormGroup">
                <ng-template matStepLabel>{{titleS4}}</ng-template>
                <mat-radio-group [(ngModel)]="question1">
                    <mat-list>
                        <div *ngFor="let antwoord of antwoordenS4; last as isLast">
                            <mat-list-item>
                                <mat-radio-button mat-list-base [value]="antwoord.fase_id" style="width:100%;">
                                    <p>{{antwoord.antwoord}}</p>
                                </mat-radio-button><button mat-icon-button (click)="tooltip.show()"
                                    [matTooltip]="antwoord.antwoord" matTooltipPosition="left" #tooltip="matTooltip">
                                    <mat-icon>info</mat-icon>
                                </button>
                            </mat-list-item>
                            <mat-divider *ngIf="!isLast" [inset]="true"></mat-divider>
                        </div>
                    </mat-list>
                </mat-radio-group>
                <br>
                <button mat-stroked-button matStepperPrevious>Terug</button>
                <button mat-flat-button color="primary" style="float:right" matStepperNext>Volgende</button>
            </mat-step>
            <mat-step stepControl="firstFormGroup">
                <ng-template matStepLabel>{{titleS5}}</ng-template>
                <mat-radio-group [(ngModel)]="question1">
                    <mat-list>
                        <div *ngFor="let antwoord of antwoordenS5; last as isLast">
                            <mat-list-item>
                                <mat-radio-button mat-list-base [value]="antwoord.fase_id" style="width:100%;">
                                    <p>{{antwoord.antwoord}}</p>
                                </mat-radio-button><button mat-icon-button (click)="tooltip.show()"
                                    [matTooltip]="antwoord.antwoord" matTooltipPosition="left" #tooltip="matTooltip">
                                    <mat-icon>info</mat-icon>
                                </button>
                            </mat-list-item>
                            <mat-divider *ngIf="!isLast" [inset]="true"></mat-divider>
                        </div>
                    </mat-list>
                </mat-radio-group>
                <br>
                <button mat-stroked-button matStepperPrevious>Terug</button>
                <button mat-flat-button color="primary" style="float:right" matStepperNext>Volgende</button>
            </mat-step>
            <mat-step stepControl="firstFormGroup">
                <ng-template matStepLabel>{{titleS6}}</ng-template>
                <mat-radio-group [(ngModel)]="question1">
                    <mat-list>
                        <div *ngFor="let antwoord of antwoordenS6; last as isLast">
                            <mat-list-item>
                                <mat-radio-button mat-list-base [value]="antwoord.fase_id" style="width:100%;">
                                    <p>{{antwoord.antwoord}}</p>
                                </mat-radio-button><button mat-icon-button (click)="tooltip.show()"
                                    [matTooltip]="antwoord.antwoord" matTooltipPosition="left" #tooltip="matTooltip">
                                    <mat-icon>info</mat-icon>
                                </button>
                            </mat-list-item>
                            <mat-divider *ngIf="!isLast" [inset]="true"></mat-divider>
                        </div>
                    </mat-list>
                </mat-radio-group>
                <br>
                <button mat-stroked-button matStepperPrevious>Terug</button>
                <button mat-flat-button color="primary" style="float:right" matStepperNext>Volgende</button>
            </mat-step>
            <mat-step stepControl="firstFormGroup">
                <ng-template matStepLabel>{{titleS7}}</ng-template>
                <mat-radio-group [(ngModel)]="question1">
                    <mat-list>
                        <div *ngFor="let antwoord of antwoordenS7; last as isLast">
                            <mat-list-item>
                                <mat-radio-button mat-list-base [value]="antwoord.fase_id" style="width:100%;">
                                    <p>{{antwoord.antwoord}}</p>
                                </mat-radio-button><button mat-icon-button (click)="tooltip.show()"
                                    [matTooltip]="antwoord.antwoord" matTooltipPosition="left" #tooltip="matTooltip">
                                    <mat-icon>info</mat-icon>
                                </button>
                            </mat-list-item>
                            <mat-divider *ngIf="!isLast" [inset]="true"></mat-divider>
                        </div>
                    </mat-list>
                </mat-radio-group>
                <br>
                <button mat-stroked-button matStepperPrevious>Terug</button>
                <button mat-flat-button color="primary" style="float:right" matStepperNext>Volgende</button>
            </mat-step>
            <mat-step stepControl="firstFormGroup">
                <ng-template matStepLabel>{{titleS8}}</ng-template>
                <mat-radio-group [(ngModel)]="question1">
                    <mat-list>
                        <div *ngFor="let antwoord of antwoordenS8; last as isLast">
                            <mat-list-item>
                                <mat-radio-button mat-list-base [value]="antwoord.fase_id" style="width:100%;">
                                    <p>{{antwoord.antwoord}}</p>
                                </mat-radio-button><button mat-icon-button (click)="tooltip.show()"
                                    [matTooltip]="antwoord.antwoord" matTooltipPosition="left" #tooltip="matTooltip">
                                    <mat-icon>info</mat-icon>
                                </button>
                            </mat-list-item>
                            <mat-divider *ngIf="!isLast" [inset]="true"></mat-divider>
                        </div>
                    </mat-list>
                </mat-radio-group>
                <br>
                <button mat-stroked-button matStepperPrevious>Terug</button>
                <button mat-flat-button color="primary" style="float:right" matStepperNext>Volgende</button>
            </mat-step>
            <mat-step stepControl="firstFormGroup">
                <ng-template matStepLabel>{{titleS9}}</ng-template>
                <mat-radio-group [(ngModel)]="question1">
                    <mat-list>
                        <div *ngFor="let antwoord of antwoordenS9; last as isLast">
                            <mat-list-item>
                                <mat-radio-button mat-list-base [value]="antwoord.fase_id" style="width:100%;">
                                    <p>{{antwoord.antwoord}}</p>
                                </mat-radio-button><button mat-icon-button (click)="tooltip.show()"
                                    [matTooltip]="antwoord.antwoord" matTooltipPosition="left" #tooltip="matTooltip">
                                    <mat-icon>info</mat-icon>
                                </button>
                            </mat-list-item>
                            <mat-divider *ngIf="!isLast" [inset]="true"></mat-divider>
                        </div>
                    </mat-list>
                </mat-radio-group>
                <br>
                <button mat-stroked-button matStepperPrevious>Terug</button>
                <button mat-flat-button color="primary" style="float:right" matStepperNext>Volgende</button>
            </mat-step>
            <mat-step stepControl="firstFormGroup">
                <ng-template matStepLabel>{{titleS10}}</ng-template>
                <mat-radio-group [(ngModel)]="question1">
                    <mat-list>
                        <div *ngFor="let antwoord of antwoordenS10; last as isLast">
                            <mat-list-item>
                                <mat-radio-button mat-list-base [value]="antwoord.fase_id" style="width:100%;">
                                    <p>{{antwoord.antwoord}}</p>
                                </mat-radio-button><button mat-icon-button (click)="tooltip.show()"
                                    [matTooltip]="antwoord.antwoord" matTooltipPosition="left" #tooltip="matTooltip">
                                    <mat-icon>info</mat-icon>
                                </button>
                            </mat-list-item>
                            <mat-divider *ngIf="!isLast" [inset]="true"></mat-divider>
                        </div>
                    </mat-list>
                </mat-radio-group>
                <br>
                <button mat-stroked-button matStepperPrevious>Terug</button>
                <button mat-flat-button color="primary" style="float:right" matStepperNext>Volgende</button>
            </mat-step>
            <mat-step stepControl="firstFormGroup">
                <ng-template matStepLabel>{{titleS11}}</ng-template>
                <mat-radio-group [(ngModel)]="question1">
                    <mat-list>
                        <div *ngFor="let antwoord of antwoordenS11; last as isLast">
                            <mat-list-item>
                                <mat-radio-button mat-list-base [value]="antwoord.fase_id" style="width:100%;">
                                    <p>{{antwoord.antwoord}}</p>
                                </mat-radio-button><button mat-icon-button (click)="tooltip.show()"
                                    [matTooltip]="antwoord.antwoord" matTooltipPosition="left" #tooltip="matTooltip">
                                    <mat-icon>info</mat-icon>
                                </button>
                            </mat-list-item>
                            <mat-divider *ngIf="!isLast" [inset]="true"></mat-divider>
                        </div>
                    </mat-list>
                </mat-radio-group>
                <br>
                <button mat-stroked-button matStepperPrevious>Terug</button>
                <button mat-flat-button color="primary" style="float:right" matStepperNext>Volgende</button>
            </mat-step>
            <mat-step stepControl="firstFormGroup">
                <ng-template matStepLabel>{{titleS12}}</ng-template>
                <mat-radio-group [(ngModel)]="question1">
                    <mat-list>
                        <div *ngFor="let antwoord of antwoordenS12; last as isLast">
                            <mat-list-item>
                                <mat-radio-button mat-list-base [value]="antwoord.fase_id" style="width:100%;">
                                    <p>{{antwoord.antwoord}}</p>
                                </mat-radio-button><button mat-icon-button (click)="tooltip.show()"
                                    [matTooltip]="antwoord.antwoord" matTooltipPosition="left" #tooltip="matTooltip">
                                    <mat-icon>info</mat-icon>
                                </button>
                            </mat-list-item>
                            <mat-divider *ngIf="!isLast" [inset]="true"></mat-divider>
                        </div>
                    </mat-list>
                </mat-radio-group>
                <br>
                <button mat-stroked-button matStepperPrevious>Terug</button>
                <button mat-flat-button color="primary" style="float:right">Opslaan</button>
            </mat-step>
        </mat-vertical-stepper>
    </mat-card-content>
</mat-card>