<mat-card>
    <mat-card-header>
        <mat-card-title style="margin-left:-6px">Voor we van start gaan</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Wat leuk dat je de teamscan gaat invullen! Elke vraag is onderverdeeld in 4 fases. Elk antwoord is genummerd
            met de bijbehorende fase. De fases staan voor:</p>  
            <ol>
                <li>Iedere medewerker gaat zijn weg</li>
                <li>Accent op organisatorische taken in het team</li>
                <li>Doelgericht werken binnen het team</li>
                <li>Accent op zelfstandig verbeteren m.b.t. de omgeving</li>
            </ol>
            <p style="font-size: .90em">Een * achter een dimensietitel geeft aan dat een antwoord verplicht is.</p>
    </mat-card-content>
</mat-card>
<br>
<mat-card *ngIf="objectKeys(dimensions).length > 0">
    <mat-card-content>
        <div>
        </div>
        <form [formGroup]="antwoordForm" (ngSubmit)="save(antwoordForm.value)">
            <mat-vertical-stepper #stepper>

            <mat-step *ngFor="let title of objectKeys(dimensions); let index = index; last as isLast; first as isFirst" [stepControl]="antwoordForm.get(dimensions[title][0].dimensie_id.toString())">
                <ng-template matStepLabel>{{title}} *</ng-template>
                <mat-radio-group [name]="dimensions[title][0].dimensie_id" [formControlName]="dimensions[title][0].dimensie_id" required>
                    <mat-list>
                        <div *ngFor="let question of dimensions[title]; last as isLast">
                            <mat-list-item>
                                <mat-radio-button mat-list-base [value]="question.fase_id"
                                    [name]="dimensions[title][0].dimensie_id" style="width:100%;" #val>
                                    <p class="faseInBolletje" [style.visibility]="val.checked ? 'hidden' : NULL">
                                        {{question.fase_id}}
                                    </p>
                                    <p style="font-size: .85em">{{question.antwoord_kort}}</p>
                                </mat-radio-button>
                                <button type="button" mat-icon-button (click)="tooltip.show()"
                                    [matTooltip]="question.antwoord" matTooltipPosition="left" #tooltip="matTooltip" class="infobutton">
                                    <mat-icon>info</mat-icon>
                                </button>
                                </mat-list-item>
                                <mat-divider *ngIf="!isLast" [inset]="true"></mat-divider>
                            </div>
                        </mat-list>
                    </mat-radio-group>
                    <br>
                    <button mat-stroked-button *ngIf="!isFirst" matStepperPrevious>Terug</button>
                    <button mat-flat-button color="primary" style="float:right" type="button" matStepperNext>Volgende</button>
                </mat-step>

                <mat-step stepControl="firstFormGroup">
                    <ng-template matStepLabel>Feedback</ng-template>
                    <p>Wat zijn voor jou belangrijke punten waarmee je jouw team verder kan professionaliseren/ontwikkelen?</p>
                    <mat-form-field>
                        <textarea matInput type="text" placeholder="Antwoord" formControlName="feedback"></textarea>
                    </mat-form-field>
                    <button mat-stroked-button *ngIf="!isFirst" matStepperPrevious>Terug</button>
                    <button mat-flat-button color="primary" style="float:right" type="submit" [disabled]="antwoordForm.invalid">Bewaren</button>
                    <p *ngIf="antwoordForm.invalid" style="color:red"><mat-icon style="vertical-align: -7px;">warning</mat-icon> Je hebt nog niet alle meerkeuzevragen beantwoord.</p>
                </mat-step>
                <ng-template matStepperIcon="edit">
                    <mat-icon>done</mat-icon>
                </ng-template>
            </mat-vertical-stepper>
        </form>
    </mat-card-content>
</mat-card>
<div *ngIf="objectKeys(dimensions).length == 0 && !requestFailed" style="text-align:center; margin-top:80px;">
    <mat-spinner style="margin:auto;"></mat-spinner>
</div>
<div *ngIf="requestFailed" style="text-align:center; margin-top:80px;">
    Er kon geen verbinding worden gemaakt.<br><br>
    <button mat-raised-button style="margin:auto;" (click)="reload()">Probeer opnieuw</button>
</div>