mat-radio-button{
  width: 100%;
}

p{
  font-size: 16px;
  padding-left: 10px;
}

mat-form-field{
  width: 100%;
  padding-left: 10px;
}

.infobutton {
  margin-right:-15px;
  padding-left:5px;
}

.faseInBolletje {
  position: absolute;
  left: 23px;
  top: calc(50% - 5px);
  line-height: 1;
  font-size: 11px;
  margin: 0;
  color: #666;
  padding: 0;
}

@media screen and (max-width: 480px) {
  .faseInBolletje {
    left:7px;
  }
}