<div style="background:#9EA700; padding:0 40px; min-height: calc(100% - 124px);box-sizing:border-box;">
    <div style="text-align: center;"><img src="/assets/shapes.svg" style="height:140px;"></div>
    <br>
    <br>
    <div style="color:white;font-size:18px;text-align: center;">
        Om toegang te krijgen tot de Teamscan-app moet je je aanmelden met een account van De Haagse Hogeschool.
    </div>
    <br>
    <br>
    <mat-card (click)="loginButton()" mat-ripple style="font-weight:500;font-size:20px;text-align:center;color:black">
        Login met je HHS-account
    </mat-card>
</div>