<div style="background:#9EA700; padding:0 40px; min-height: calc(100% - 144px);box-sizing:border-box;">
<mat-card>
    <mat-card-content>
        <h4>Om toegang te krijgen tot de Teamscan-app moet je je aanmelden met een account van De Haagse Hogeschool.</h4>
    </mat-card-content>
</mat-card>
<br>
<mat-card (click)="loginButton()">
        <mat-card-content>
            <button mat-button style="width:100%;"> Login met je HHS-account </button>
        </mat-card-content>
    </mat-card>
</div>